{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'components/bower_components/platform/platform.js' %}"></script>
{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nav-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
<link rel="import" href="{% static 'components/bower_components/paper-item/paper-item.html' %}">
<link rel="import" href="{% static 'components/bower_components/core-ajax/core-ajax.html' %}">
<link rel="import" href="{% static 'components/bower_components/paper-input/paper-input.html' %}">
<link rel="import" href="{% static 'components/bower_components/core-input/core-input.html' %}">
<link rel="import" href="{% static 'components/bower_components/paper-button/paper-button.html' %}">
<link rel="import" href="{% static 'components/bower_components/core-transition/core-transition-css.html' %}">
<style>
    paper-button.colored {
        background: #26ADE4;
        margin-top: 10px;
        float: right;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">	
	<header class="clearfix">
		<h1>Cameron Fisk<span>Home Page</span></h1>	
	</header>
	<div class="main">
		<p></p>
		<div class="side">
		    <nav id="dr-menu" class="dr-menu">
   			    <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">Menu</a></div>
   			    <ul style="color:#D1E751; font-size: 22pt;">
 			    <li>
			        <paper-item>
				    <a class="dr-icon dr-icon-home" href="#" id="home" onclick="toggleOff();">Home</a>
			        </paper-item>
			    </li>
                <li>
			        <paper-item>
				        <a class="dr-icon dr-icon-briefcase" href="#">Portfolio</a></li>
                    </paper-item>

                <li>
                    <paper-item>
                        <a class="dr-icon dr-icon-file" href="#">Resume</a></li>
			        </paper-item>
                </li>
                <li>
                    <paper-item>
                        <a class="dr-icon dr-icon-pencil" href="#" id="contact" onclick="toggle();">Contact Me</a></li>
    			    </paper-item>
                </li>
                <li>
                    <paper-item>
                        <a class="dr-icon dr-icon-github" href="http://www.github.com/CFisk"></a></li>
                    </paper-item>
                </li>

    			</ul>
            </nav>
		</div>
        <div id="content_pane" hidden>
            <section>
                <paper-input label="Name:"></paper-input>
                <br>
                <paper-input label="Comment:"></paper-input>
                <br>
                <paper-button raised class="colored">Submit</paper-button>
                </section>
        </div>
	</div>
</div><!-- /container -->
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/menu.js' %}"></script>
<script>
    document.addEventListener('polymer-ready', function() {
  // initial setup
  setup();
  document.getElementById('content_pane').removeAttribute('hidden');
});

var meta;
var transition;
var state = {
  opened: false
}

function getMeta() {
      if (!meta) {
        meta = document.createElement('core-meta');
        meta.type = 'transition';
      }
      return meta;
    }

function setup() {
      var target = document.getElementById('content_pane');

      if (transition) {
        transition.teardown(target);
      }

      var value = "core-transition-left";
      transition = getMeta().byId(value);
      transition.setup(target);
    }

function toggle() {
      var target = document.getElementById('content_pane');
      state.opened = !state.opened;
      transition.go(target, state);
    }
function toggleOff() {
    var target = document.getElementById('content_pane');
    transition.go(target);
    }
</script>
{% endblock %}
