{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'components/bower_components/platform/platform.js' %}"></script>
{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nav-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>
<link rel="import" href="{% static 'components/bower_components/paper-item/paper-item.html' %}">
<link rel="import" href="{% static 'components/bower_components/core-ajax/core-ajax.html' %}">
<link rel="import" href="{% static 'components/bower_components/paper-input/paper-input.html' %}">
<link rel="import" href="{% static 'components/bower_components/core-input/core-input.html' %}">
<link rel="import" href="{% static 'components/bower_components/paper-button/paper-button.html' %}">
<link rel="import" href="{% static 'components/bower_components/paper-shadow/paper-shadow.html' %}">
<link rel="import" href="{% static 'components/bower_components/paper-fab/paper-fab.html' %}">
    <link rel="import" href="{% static 'components/bower_components/core-icons/core-icons.html' %}">
<link rel="import" href="{% static 'components/bower_components/paper-dropdown-menu/paper-dropdown-menu.html' %}">
<link rel="import" href="{% static 'components/bower_components/core-transition/core-transition-css.html' %}">
<style>
    paper-button.colored {
        background: #EDD599;
        margin-top: 10px;
        float: right;
    }
    paper-dropdown-menu {
        float: right;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">	
	<header class="clearfix">
        <paper-shadow z="1"></paper-shadow>
		<h1>Cameron Fisk<span>Home Page</span></h1>	
	</header>
	<div class="main">
		<p></p>
		<div class="side">
		    <nav id="dr-menu" class="dr-menu">
   			    <div class="dr-trigger" onclick="toggle2();"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">Menu</a></div>
   			    <ul style="color:#BF9C7C; font-size: 22pt;">
 			    <li>
			        <paper-item>
				    <a class="dr-icon dr-icon-home" href="#" id="home" onclick="toggleOff();">Home</a>
			        </paper-item>
			    </li>
                <li>
			        <paper-item>
				        <a class="dr-icon dr-icon-briefcase" href="#">Portfolio</a></li>
                    </paper-item>

                <li>
                    <paper-item>
                        <a class="dr-icon dr-icon-file" href="#">Resume</a></li>
			        </paper-item>
                </li>
                <li>
                    <paper-item>
                        <a class="dr-icon dr-icon-pencil" href="#" id="contact" onclick="toggle();">Contact Me</a></li>
    			    </paper-item>
                </li>
                <li style="margin-left: 20px;" id="bottom_links">
                    <a href="http://www.github.com/CFisk"><paper-fab src="{% static 'GitHub-Mark-32px.png' %}"></paper-fab></a>
                    <a href="http://www.twitter.com/CameronFisk3"><paper-fab src="https://g.twimg.com/Twitter_logo_blue.png"></paper-fab></a>
                </li>

    			</ul>
            </nav>
		</div>
        <div id="content_pane" hidden>
            <div id="info_floater">
                <paper-shadow z="2"></paper-shadow>
                <p>My Email Address: <a href="mailto:fisk.cameron@gmail.com">fisk.cameron@gmail.com</a></p>
            </div>
            <div id="form_floater">
                <p>Or Submit a comment below:</p>
                <paper-shadow z="2"></paper-shadow>
            <section>
                <paper-input label="Name:"></paper-input>
                <br>
                <paper-input label="Comment:"></paper-input>
                <br>
                <paper-button raised class="colored">Submit</paper-button>
                </section>
            </div>
        </div>
	</div>
    <div>

    <paper-dropdown-menu valign="bottom" valueattr="label" label="Theme">
        <paper-item><a href="/">Theme One</a></paper-item>
        <paper-item><a href="/page2">Theme Two</a></paper-item>
    </paper-dropdown-menu>
   </div>
</div><!-- /container -->
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/menu.js' %}"></script>
<script>
</script>
{% endblock %}
