{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nav-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
<link rel="import" href="{% static 'components/bower_components/paper-item/paper-item.html' %}">
<link rel="import" href="{% static 'components/bower_components/core-ajax/core-ajax.html' %}">
<link rel="import" href="{% static 'components/bower_components/paper-input/paper-input.html' %}">
{% endblock %}
{% block body %}
<div class="container">	
	<header class="clearfix">
		<h1>Cameron Fisk<span>Home Page</span></h1>	
	</header>
	<div class="main">
		<p></p>
            <div id="content_pane">

            </div>
		<div class="side">
		    <nav id="dr-menu" class="dr-menu">
   			    <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">Menu</a></div>
   			    <ul style="color:#D1E751; font-size: 22pt;">
 			    <li>
			        <paper-item>
				    <a class="dr-icon dr-icon-home" href="#">Home</a>
			        </paper-item>
			    </li>
                <li>
			        <paper-item>
				        <a class="dr-icon dr-icon-briefcase" href="#">Portfolio</a></li>
                    </paper-item>

                <li>
                    <paper-item>
                        <a class="dr-icon dr-icon-file" href="#">Resume</a></li>
			        </paper-item>
                </li>
                <li>
                    <paper-item>
                        <a class="dr-icon dr-icon-pencil" href="#" id="contact">Contact Me</a></li>
    			    </paper-item>
                </li>
                <li>
                    <paper-item>
                        <a class="dr-icon dr-icon-github" href="http://www.github.com/CFisk"></a></li>
                    </paper-item>
                </li>

    			</ul>
            </nav>
		</div>
	</div>
</div><!-- /container -->
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/menu.js' %}"></script>
<script>
$("#content_pane").load("{% static 'html/comment_page.html' %}");
</script>
<script src="{% static 'components/bower_components/platform/platform.js' %}"></script>
{% endblock %}
