{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'components/bower_components/webcomponentsjs/webcomponents.min.js' %}"></script>
{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'css/nav-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/mainframe.css' %}">

<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>
<link rel="import" href="{% static 'components/bower_components/paper-item/paper-item.html' %}">
<link rel="import" href="{% static 'components/elements/fisk-input.html' %}">
<link rel="import" href="{% static 'components/bower_components/paper-button/paper-button.html' %}">
<link rel="import" href="{% static 'components/bower_components/paper-shadow/paper-shadow.html' %}">
<link rel="import" href="{% static 'components/bower_components/paper-fab/paper-fab.html' %}">
<link rel="import" href="{% static 'components/bower_components/paper-calculator/paper-calculator.html' %}">
<link rel="import" href="{% static 'components/bower_components/core-icons/core-icons.html' %}">
<link rel="import" href="{% static 'components/bower_components/paper-dropdown-menu/paper-dropdown-menu.html' %}">
<link rel="import" href="{% static 'components/bower_components/core-transition/core-transition-css.html' %}">

<style>
    paper-toast {
        position:absolute;
        top: 0;
        bottom:0;
        left:0;
        right:0;
}
</style>

{% endblock %}
{% block body %}
<div class="container">
    <header class="clearfix" id="header">
        <paper-shadow z="3"></paper-shadow>
        <h1>Cameron Fisk<span>Mainframe</span></h1>
    </header>
    <br>
    <main>
        <paper-shadow z="2"></paper-shadow>
        <div id="mainframe">
            <form id="input_form">
                <fisk-input id="input"></fisk-input>
            </form>
            <div id="console">
                <div id="timer" hidden>
                    <paper-shadow z="1"></paper-shadow>
                    <div id="countdown">
                        <span id="clock"></span>
                    </div>
                </div>
                <div id="calc" hidden>
                    <paper-shadow z="3"></paper-shadow>
                    <paper-calculator id="paper-calc" responsiveWidth="800px"></paper-calculator>
                </div>
            </div>
        </div>
    </main>
</div><!-- /container -->
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/mainframe.js' %}"></script>
{% endblock %}
