#mainframe {

}

#input_form {
    position: relative;
}

main {
    min-height: 600px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#clock {
    font-size: 55pt;
}

#countdown {
    text-align: center;
    line-height: 300px;
    padding-left: 25%;
    padding-right: 25%;
    height: 100%;
}

#timer {
    width: 50%;
    height: 300px;
    margin: 0 0 20px 25%;
}

#input {
    margin-left: 20px;
    font-size: 40pt;
    width: 98%;
}

#calc {
    width: 50%;
    margin: 0 0 20px 25%;
    height: 60%;
}

#paper-calc {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.image_search {
    height: 200px;
    width: 200px;
    margin: 10px 10px 0 10px;
}

.image_list {
    float: left;

}

#image0 {
    -webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	transition: all 1.0s ease;
	-webkit-transition-delay: 1035ms;
	-moz-transition-delay: 1035ms;
	transition-delay: 1035ms;
}

#image1 {
    -webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	transition: all 1.0s ease;
	-webkit-transition-delay: 1070ms;
	-moz-transition-delay: 1070ms;
	transition-delay: 1070ms;
}

#image2 {
    -webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	transition: all 1.0s ease;
	-webkit-transition-delay: 1105ms;
	-moz-transition-delay: 1105ms;
	transition-delay: 1105ms;
}

#image3 {
    -webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	transition: all 1.0s ease;
	-webkit-transition-delay: 1140ms;
	-moz-transition-delay: 1140ms;
	transition-delay: 1140ms;
}

#image4 {
    -webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	transition: all 1.0s ease;
	-webkit-transition-delay: 1175ms;
	-moz-transition-delay: 1175ms;
	transition-delay: 1175ms;
}

#image5 {
    -webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	transition: all 1.0s ease;
	-webkit-transition-delay: 1205ms;
	-moz-transition-delay: 1205ms;
	transition-delay: 1205ms;
}

#image6 {
    -webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	transition: all 1.0s ease;
	-webkit-transition-delay: 1235ms;
	-moz-transition-delay: 1235ms;
	transition-delay: 1235ms;
}

#image7 {
    -webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	transition: all 1.0s ease;
	-webkit-transition-delay: 1265ms;
	-moz-transition-delay: 1265ms;
	transition-delay: 1265ms;
}

#image8 {
    -webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	transition: all 1.0s ease;
	-webkit-transition-delay: 1295ms;
	-moz-transition-delay: 1295ms;
	transition-delay: 1295ms;
}

#image9 {
    -webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	transition: all 1.0s ease;
	-webkit-transition-delay: 1330ms;
	-moz-transition-delay: 1330ms;
	transition-delay: 1330ms;
}

#images {
    height: 100%;
    width: 100%;
    list-style: none;
}