#mainframe {

}

main {
    min-height: 600px;
}

#clock {
    font-size: 55pt;
}

#countdown {
    text-align: center;
    line-height: 184px;
    padding-left: 25%;
    padding-right: 25%;
}

#timer {
    width: 50%;
    margin-left: 25%;
}

#input {
    position: absolute;
    top: 83%;
    left: 1%;
    font-size: 40pt;
    width: 98%;
}

#calc {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    height: 60%;
}

#paper-calc {
    height: 100%;
    width: 100%;
}