#mainframe {

}

main {
    min-height: 600px;
}

#clock {
    font-size: 55pt;
}

#countdown {
    text-align: center;
    line-height: 184px;
}

#input {
    position: absolute;
    top: 83%;
    left: 1%;
    font-size: 40pt;
    width: 98%;
}